<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>らくらくん対応マニュアル</title>
</head>
<body>
    <h1 id="_1">らくらくんに対応開始を記録</h1>
    <h2 id="_2">らくらくんにログインする</h2>
    <h3 id="bizbrowser">BizBrowser を起動</h3>
    <ul>
        <li>Windows ボタンを押下</li>
        <li>OpenStream→BizBrowser DT(32bit)をクリック</li>
    </ul>
    <h3 id="_3">運用らくらくんにアクセス</h3>
    <ul>
        <li>アドレスバーに<code>http://172.18.2.197:8081/crs/LoginScreen.crs</code>と入力</li>
        <li>「＞」ボタンを押下</li>
    </ul>
    <h3 id="_4">運用らくらくんにログイン</h3>
    <ul>
        <li>「ID」欄に自分の ID を入力</li>
        <li>「password」欄に自分のパスワードを入力</li>
        <li>「ログインボタン」を押下</li>
    </ul>

    <h2 id="_5">対応開始を記録する</h2>
    <p>対応するトランザクションに起因するアラートに対応中の印をつけます。</p>
    <blockquote>
        <p>[!NOTE] トランザクションとアラートは 1:N<br>
        ACMS では自動リトライ機能があるため、リトライが失敗した場合にもアラートが発報される。また指定回数リトライが失敗した場合には、リトライオーバーというアラートも発報される。つまり、ひとつのトランザクションに対して複数のアラートが発報される。</p>
    </blockquote>
    <ul>
        <li>「エラー対応画面へ」ボタンを押下</li>
    </ul>

    <h3 id="_6">対象のアラートを検索する</h3>
    <p>画面上部の検索条件で以下の項目を入力する</p>
    <ul>
        <li>運用グループ=<code>{{ result.operation_group_code }}</code></li>
        <li>ユーザ=<code>{{ result.user_code }}</code></li>
        <li>ファイル=<code>{{ result.file_code }}</code></li>
    </ul>
    <p>「検索」ボタンを押下</p>
    <p>検索結果の先頭に表示されたトランザクションが条件通りであることを確認する</p>
    <ul>
        <li>ユーザ=<code>{{ result.user_code }}</code></li>
        <li>ファイル=<code>{{ result.file_code }}</code></li>
        <li>ステータス=空欄</li>
        <li>アラート本文=「{{ result.error_message }}」もしくは、「当該通信スケジュールがリトライオーバーになりました。」</li>
    </ul>

    <h3 id="_7">対象のアラートに対応開始を記録する</h3>
    <ul>
        <li>該当レコードの「ステータス」欄をダブルクリック</li>
        <li>「対応中」と記入</li>
        <li>該当のレコードの「担当者」欄をダブルクリック</li>
        <li>自分の苗字を漢字で記載する。</li>
        <li>入力した行が選択されていることを確認し、「保存」ボタンを押下</li>
    </ul>

    <hr>
    <h2 id="_8">送受信トランザクションを中止に状態変更する</h2>
    <h3 id="e2x">E2X を開く</h3>
    <h3 id="_9">送受信トランザクション一覧画面を開く</h3>
    <p>左ペインより、「状況照会」にある「送受信トランザクション」をクリック</p>
    <h3 id="_10">対象のトランザクションを検索する</h3>
    <p>画面上部の検索条件で以下の項目を入力する</p>
    <ul>
        <li>運用グループ=<code>{{ result.operation_group_code }}</code></li>
        <li>ユーザ=<code>{{ result.user_code }}</code></li>
        <li>ファイル=<code>{{ result.file_code }}</code></li>
        <li>昇順・降順=昇順</li>
        <li>状態=<code>停止</code></li>
    </ul>
    <p>照会ボタンをクリック</p>
    <p>照会結果の先頭に表示されたトランザクションが条件通りであることを確認する</p>
    <ul>
        <li>運用グループ=<code>{{ result.operation_group_code }}</code></li>
        <li>ユーザ=<code>{{ result.user_code }}</code></li>
        <li>ファイル=<code>{{ result.file_code }}</code></li>
        <li>状態=<code>停止</code></li>
    </ul>

    <h3 id="_11">状態を変更する</h3>
    <p>照会結果の任意の情報にチェックを入れる</p>
    <p>「操作」→「<code>中止</code>」を選択</p>
    <p>実行ボタンをクリック</p>
    <p>状態が<code>中止</code>となったことを確認する</p>

    <hr>
    <h1 id="_12">らくらくんに対応完了を記録</h1>
    <h2 id="_13">対応完了を記録する</h2>
    <h3 id="_14">該当行の更新</h3>
    <p><code>1. アラートの対応開始を記録</code>で対応の開始を記載したレコードのうち、アラート本文に「{{ result.error_message }}」が含まれるレコードに対して以下の手順を行う</p>
    <ul>
        <li>「対応内容」欄をダブルクリック</li>
        <li>以下の内容を「対応履歴」に入力</li>
    </ul>
    <pre><code>FIXME
    </code></pre>
    <ul>
        <li>「変更」ボタンを押下</li>
        <li>「ステータス」欄をダブルクリック</li>
        <li>「完了」と記入</li>
        <li>入力した行が選択されていることを確認し、「保存」ボタンを押下</li>
    </ul>

    <h3 id="_15">リトライオーバー行の更新</h3>
    <p><code>1. アラートの対応開始を記録</code>で対応の開始を記載したレコードのうち、アラート本文に「当該通信スケジュールがリトライオーバーになりました。」が含まれるレコードに対して以下の手順を行う</p>
    <ul>
        <li>「ステータス」欄をダブルクリック</li>
        <li>「不要」と記入</li>
        <li>入力した行が選択されていることを確認し、「保存」ボタンを押下</li>
    </ul>
</body>
</html>
